.App {
  background-color: #202124;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Arraybox {
  /* background-color: paleturquoise; */
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 70vh;
  width: 90vw;
  margin-left: 5vw;
}