.App {
  background-color: #202124;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Arraybox {
  /* background-color: paleturquoise; */
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 70vh;
  width: 90vw;
  margin-left: 5vw;
}

.footer {
  padding-bottom: 0;
  line-height: 0.6;
}

.footer-txt{
    color: rgba(255, 255, 255, 0.65);
    font-weight: 600;
    width: 100vw;
}

#ft-icon {
  color: #9e2323;
}